body{
  margin: 0;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}
.container{
  width: 50%;
  height: 50%;
  border:2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSave{
  width: 50%;
  height: 50%;
  border:2px dashed gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  height: calc(100% - 20px);
  background: greenyellow;
  padding: 10px;

}
.images{
  width:  calc(50% - 10px);
  height: calc(100% - 20px);
  background: aqua;
  padding: 10px;
  overflow: auto;
}
.imagesContainer{
  min-height: 95%;
}
.img{
  margin: 10px;
  max-width: 97%;
}

